<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Records</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .btn:focus {
            border: none;
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="h1">Student Records</div>  
        <a href="/add" class="btn btn-success my-3"> + Add</a>     
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>CGPA</th>
              <th>Department</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i<students.length; i++){ %>
            <% const student = students[i]; %>
            <% const cgpa = student.cgpa.toFixed(2); %>
                <tr>
                    <td><%=student.id %></td>
                    <td><%=student.name %></td>
                    <td><%=cgpa %></td>
                    <td><%=student.department %></td>
                    <td>
                        <div class="buttons">
                            <!-- <a href="" class="btn btn-primary me-2">View</a> -->
                            <a href="/view/<%=student._id%>" class="btn btn-sm btn-primary me-3">View</a>
                            <button type="button" onclick="EditStudentInfo()" class="btn">
                                <i class="fa-solid fa-pen-to-square fs-4 me-3 text-success"></i>
                            </button>
                            <button type="button" onclick="DeleteStudentInfo('<%=student._id%>')" class="btn">
                                <i class="fa-solid fa-trash-can fs-4 text-danger"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            <% } %>
          </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        function DeleteStudentInfo(id){
            if(confirm('Are you sure to delete student ID: ' + id + ' ?')){
                $.post("/delete",{id: id}, function (res){
                    // console.log(response);
                    if(res.success){
                        location.reload();
                    }
                });
            }
        }
    </script>
</body>
</html>