<div class="container">
    <div class="h1 display-5 mt-3">Student Records</div>  
    <div class="header-op">
        <!-- <a href="/add"class="btn btn-dark add-btn">
            <i class="fa-solid fa-user-plus"></i>
            Add student
        </a> -->
        <a type="button" onclick="AddStudent('_id')" class="btn btn-dark add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-user-plus"></i>
            Add student
        </a>
        <form action="/search" method="post" id="search-form">
            <div class="search-box">
                <select class="dropdown-toggler" id="key" name="key">
                    <option value="id">ID</option>
                    <option value="name">Name</option>
                    <option value="department">Department</option>
                    <option value="home">Home</option>
                </select>
                <div class="search-field">
                    <input type="text" id="search-value" name="value" placeholder="search . . .">
                    <button type="submit" id="search-submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- in case of no data -->
    <div class="no-data">
        <img src="Images/no-record-found.png" alt="No data found">
    </div>

    <!-- student data table -->
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>CGPA</th>
          <th>Department</th>
          <th id="actions" width="170px">Actions</th>
        </tr>
      </thead>
      <tbody id="table-body">

        <% for(let i=0; i<students.length; i++){ %>
        <% const student = students[i]; %>
        <% const cgpa = student.cgpa.toFixed(2); %>
            <tr>
                <td><%=student.id %></td>
                <td><%=student.name %></td>
                <td><%=cgpa %></td>
                <td><%=student.department %></td>

                <!-- action buttons -->
                <td class="action-buttons">  
                    <div class="view-button">
                        <a href="/view/<%=student._id%>" class="btn btn-sm view-btn btn-primary me-2" >View</a>
                    </div>

                    <div class="modify-buttons">
                        <a type="button" class="btn" onclick="EditStudentInfo('<%=student._id%>')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-solid fa-pencil fs-5 text-success"></i>
                        </a>
                        
                        <a type="button" onclick="DeleteStudentInfo('<%=student._id%>')" class="btn">
                            <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <% } %>
      </tbody>
    </table>
</div>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="" method="POST">
                    <input type="hidden" value="" name="_id" id="_id">
                    <div class="mb-3">
                        <label for="id" class="col-form-label">ID:</label>
                        <input required type="text" class="form-control" id="id" value="" name="id" placeholder="Enter Student ID">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input required type="text" class="form-control" value="" id="name" name="name" placeholder="Enter Student Name">
                    </div>
                    <div class="mb-3">
                        <label for="cgpa" class="col-form-label">CGPA:</label>
                        <input required type="number" min="0.00" max="4.00" step="0.01" class="form-control" id="cgpa" name="cgpa" placeholder="Enter Student CGPA">
                        <!-- <input type="text" class="form-control" id="cgpa" value="" name="cgpa"> -->
                    </div>
                    <div class="mb-3">
                        <label for="department" class="col-sm-2 col-form-label">Department</label>
                        <select required class="form-select form-control" id="department" value="Choose Student Department" name="department">
                            <option value="ICT">ICT</option>
                            <option value="CSE">CSE</option>
                            <option value="TE">TE</option>
                            <option value="ME">ME</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-dark mt-4 form-submit" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function DeleteStudentInfo(obj_id){ //obejct unique id
        if(confirm('Are you sure to delete student ID: ' + obj_id + ' ?')){
            $.post("/delete", {obj_id}, function (res){ 
                console.log(res);
                if(res.success){
                    location.reload();
                }
            });
        }
    }

    // document.querySelector('#name').value = "shob sb";

    const modalForm = document.querySelector('#modalForm');
    const modalTitle = document.querySelector('.modal-title');
    let editMode = false;

    let _id ;

    function EditStudentInfo(obj_id){
        editMode = true;
        _id = obj_id;
        modalTitle.textContent = "Edit Student Info";
        // $('.modal-title').text = "Edit Student Info";
        $.get('/edit/' + obj_id, (res)=> {
            $('#id').val(res.id);
            $('#name').val(res.name);
            $('#cgpa').val(res.cgpa);
            $('#department').val(res.department);
            // console.log(res);
        });
    }

    function AddStudent(_id){
        editMode = false;
        modalTitle.textContent = "Add new Student";
        // $('.modal-title').text = "Add new Student";
        modalForm.reset();
        // modalForm.action = '/add';
    }

    modalForm.addEventListener('submit', event=> {
        event.preventDefault();

        if (editMode){
            $('#_id').val(_id);
            modalForm.action = '/edit';
            modalForm.submit();
        }
        else {
            modalForm.action = '/add';
            modalForm.submit();
        }
    });

    
    //------------ implementation of search function -------------

    const dropdownToggle = document.querySelector('.dropdown-toggler');
    const searchForm = document.querySelector('#search-form');
    // initilly (before search)
    document.querySelector('.no-data').style.display = "none";

    searchForm.addEventListener('submit', event =>{
        event.preventDefault();  // stops the form submission
        const formData = new FormData(searchForm);
        // form = $(this).serialize();
        let arr = [];
        for (let [key, value] of formData.entries()){
            // console.log(value);
            arr.push(value);
        };
        const [key, value] = arr;
        const url = `/search?${key}=${value}`;

        // let params = new URLSearchParams('key1=value1&key2=value2');

        $.ajax({
            url: url,
            type: 'GET',
            success: (data)=> {
                console.log(data);
                $('.no-data').hide();
                // console.log(data.length);

                if(!data.length){
                    $('.table').hide();
                    $('.no-data').css('display','flex');
                }

                else {
                    $('.table').show();
                    $('#table-body').empty(); 

                    data.forEach(student => {
                    $('#table-body').append(
                        `<tr>
                            <td>${student.id}</td>
                            <td>${student.name}</td>
                            <td>${student.cgpa}</td>
                            <td>${student.department}</td>
                            <td class="action-buttons">  
                                <div class="view-button">
                                    <a href="/view/${student._id}" class="btn btn-sm view-btn btn-primary me-2" >View</a>
                                </div>

                                <div class="modify-buttons">
                                    <a type="button" class="btn" onclick="EditStudentInfo('${student._id}')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fa-solid fa-pencil fs-5 text-success"></i>
                                    </a>
                                    
                                    <a type="button" onclick="DeleteStudentInfo('${student._id}')" class="btn">
                                        <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>`);
                    });
                }
            },
            error: (xhr, status, error)=> {
                console.error('Error:', error);
            }
        });
    });

    // function Search(){
    //     const formData = new FormData(searchForm);
    //     console.log(formData);



        // $.ajax({
        //     url: '/search',
        //     type: 'POST',
        //     body: formData,
        //     contentType: false, 
        //     processData: false,
        //     success: function(data) {
        //         if(data.success){
        //             alert("YAYYY!");
        //         }
        //         else {
        //             alert("Bebooo..");
        //         }
        //     },
        //     error: function(jqXHR, textStatus, errorThrown) {
        //         console.error('There was a problem with the POST request:', textStatus, errorThrown); // Log the error
        //     }
    //     });

    //     // console.log("formeheheee");
    //     // for (let [key, value] of formData.entries()) {
    //     //         console.log(`${key}: ${value}`);
    //     // }
    // };


    // actionButtons.forEach(it =>{
    //     console.log(it.textContent);
    // });

    // const modButtons  = document.querySelector('.modify-buttons')
    // console.log(modButtons);

</script>