<div class="container">
    <div class="h1 display-5 mt-3">Student Records</div>  
    <div class="header-op">
        <a href="/add" class="btn btn-dark add-btn ">
            <i class="fa-solid fa-user-plus"></i>
            Add student
        </a>
        <form action="/search" method="post" id="search-form">
            <div class="search-box">
                    <select class="dropdown-toggler" id="key" name="key">
                        <option value="id">ID</option>
                        <option value="name">Name</option>
                        <option value="department">Department</option>
                        <option value="home">Home</option>
                    </select>
                <div class="search-field">
                    <input type="text" id="search-value" name="value" placeholder="search . . .">
                    <button type="submit" id="search-submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>CGPA</th>
          <th>Department</th>
          <th width="170px">Actions</th>
        </tr>
      </thead>
      <tbody>

        <% for(let i=0; i<students.length; i++){ %>
        <% const student = students[i]; %>
        <% const cgpa = student.cgpa.toFixed(2); %>
            <tr>
                <td><%=student.id %></td>
                <td><%=student.name %></td>
                <td><%=cgpa %></td>
                <td><%=student.department %></td>
                <td class="action-buttons">
                        <!-- <%=student.name %> -->
                        
                    <div class="view-button">
                        <a href="/view/<%=student._id%>" class="btn btn-sm view-btn btn-primary me-2" >View</a>
                    </div>

                    <div class="modify-buttons">
                        <a type="button" class="btn" onclick="EditStudentInfo('<%=student._id%>')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-solid fa-pencil fs-5 text-success"></i>
                        </a>
                        
                        <a type="button" onclick="DeleteStudentInfo('<%=student._id%>')" class="btn">
                            <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <% } %>
      </tbody>
    </table>
</div>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Student Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="modalForm" action="/edit" method="POST">
                    <input type="hidden" value="" name="_id" id="_id">
                    <div class="mb-3">
                        <label for="id" class="col-form-label">ID:</label>
                        <input type="text" class="form-control" id="id" value="" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" value="" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="cgpa" class="col-form-label">CGPA:</label>
                        <input type="text" class="form-control" id="cgpa" value="" name="cgpa">
                    </div>
                    <div class="mb-3">
                        <label for="department" class="col-sm-2 col-form-label">Department</label>
                        <select required class="form-select form-control" id="department" value="" name="department">
                            <option value="ICT">ICT</option>
                            <option value="CSE">CSE</option>
                            <option value="TE">TE</option>
                            <option value="ME">ME</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-dark mt-4 form-submit" onclick="SubmitForm()" value="Save">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function DeleteStudentInfo(obj_id){ //obejct unique id
        if(confirm('Are you sure to delete student ID: ' + obj_id + ' ?')){
            $.post("/delete", {obj_id}, function (res){ 
                console.log(res);
                if(res.success){
                    location.reload();
                }
            });
        }
    }

    document.querySelector('#name').value = "shob sb";

    let _id ;

    function EditStudentInfo(obj_id){
        _id = obj_id;
        $.get('/edit/' + obj_id, (res)=> {
            $('#id').val(res.id);
            $('#name').val(res.name);
            $('#cgpa').val(res.cgpa);
            $('#department').val(res.department);
            console.log(res);
            // console.log(_id);
        });
    }
    // const 

    function SubmitForm(){
        const form = document.querySelector('#modalForm');
        const formData = new FormData(form);
        $('#_id').val(_id);
        form.submit();
    }


</script>